:root{
  --light : #fefae0;
  --dark : #202020;
  --yellow : #e89700;
  --buttons : #ced4da;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
  background: linear-gradient(135deg, #ffd6ff, #bbd0ff);
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator{

  border-radius: 16px;
  background-color: azure;
  width: 75%;
  max-width: 350px;
  overflow: hidden;
  border-color: black;
  border-width: 10 px;
  box-shadow: 0px 1px 5px black;
}

.display{
  padding: 22px;
  background-color: var(--dark);
  text-align: right;
  color: var(--yellow);
  font-size: 28px;
}

.display span{
  padding-right: 4px;
  font-size: 13px;
  color: #d6d6d6;
}

button{
  appearance: none;
  border: none;
  outline: none;
  padding: 22px;
  background-color: var(--buttons);
  cursor: pointer;
  transition: 0.4s;
  font-weight: 100px;
  font-size: 16px;
}

button:hover{
  opacity: 0.7;
  box-shadow: -1px 0px 5px azure;
}

.Operators{
  display: flex;
}

.Operators button{
  flex: 1;
  background-color: #ffa200;
}

.Numbers{
  display: flex;
  flex-wrap: wrap;
}

.Numbers button{
  flex: 1 1 33.33%;
}

.Others{
  display: flex;
  flex-wrap: wrap;
}

.Others button{
  flex: 1 ;
}

.ac{
  background-color: red;
}

.ac:hover{
  background-color: #ff5a5f;
  color: black;
}

.showAns{
  background-color: #aacc00;
}

.showAns:hover{
  background-color: greenyellow;
}

.a:hover{
  background-color: #14213d;
  color: #e9ecef;
}

